<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Youtube</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="container mt-3 mb-5">
        %% user %%
        <div class="row justify-content-md-center">
            <div class="col-6 mb-3">
                <div class="input-group d-none">
                    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="search-icon">
                    <div class="input-group-append">
                        <span class="input-group-text" id="search-icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
                <form class="form-inline">
                    <label class="my-1 mr-2" for="inputGroupSelect">Vocabulary: ~</label>
                    <select class="custom-select my-1 mr-sm-2" id="inputGroupSelect" v-model="vocabulary_number">
                        <option value="3000" selected>3000</option>
                        <option value="6000">6000</option>
                        <option value="10000">10000</option>
                    </select>
                    words
                </form>
            </div>
        </div>
        <div class="videos-list">
            <div class="list-group list-group-flush">
                <div v-for="video in videos" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                        <div class="col-md-3">
                            <img :src="video.thumbnail" class="img-thumbnail">
                        </div>
                        <div class="col-md-9">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    <a :href="'https://www.youtube.com/watch?v=' + video.id" target="_blank" >
                                        {{ video.title }}
                                    </a>
                                </h5>
                            </div>
                            <p class="mb-1">
                                {{ video.description }}
                            </p>
                            <small>
                                {{ video.channelTitle }}
                                <br/>
                                <a href="javascript:" @click="showWordsModal(video)">
                                    New words: {{ video.stats.new_words_pnt | fixedDigits }}% ({{ video.stats.new_words.split(' ').length }}/{{ video.subtitle_words.split(' ').length }} words)
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button type="button" class="btn btn-primary" @click="getVideos(true)" >Next</button>
        </div>
        <div class="modal fade bd-example-modal-lg" id="wordsModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Subtitle</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--<div class="mb-3">{{ wordsModal.subtitle }}</div>-->
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Common words</th>
                                    <th scope="col">New words</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td v-html="wordsModal.common.join('<br/>')"></td>
                                    <td v-html="wordsModal.new.join('<br/>')"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
        $(document).ready(function () {

            new Vue({
                el: '#app',
                data: {
                    videos: [],
                    pageNum: 1,
                    vocabulary_number: 10000,
                    wordsModal: {
                        subtitle: '',
                        common: [],
                        new: []
                    }
                },
                mounted() {

                    this.getVideos()

                },
                methods: {
                    getVideos(append=false) {
                        $.getJSON('videos', {limit: 10, page: this.pageNum, order: 1, vocab_num: this.vocabulary_number}, res => {
                            if (append)
                                this.videos.push(...res.videos);
                            else
                                this.videos = res.videos;

                            this.pageNum += 1;
                        })
                    },
                    showWordsModal(video) {
                        $('#wordsModal').modal('show');

                        let subtitleWords = video.subtitle_words.split(' ').sort();
                        let newWords = video.stats.new_words.split(' ').sort();
                        
                        this.wordsModal.subtitle = video.subtitle;

                        this.wordsModal.new = newWords;
                        this.wordsModal.common = subtitleWords.filter(w => !newWords.includes(w))
                    }
                },
                filters: {
                    fixedDigits: val => val.toFixed(2)
                },
                watch: {
                    vocabulary_number: function() {
                        this.getVideos()
                    }
                }
            })

        })
    </script>
</body>
</html>