<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Youtube Search</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <style>
        .bd-navbar {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 1049;

            min-height: 4rem;
            background-color: #563d7c;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
        }
    </style>
</head>
<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <form class="form-inline my-2 my-lg-0" method="get" action="%% url_for('search_page') %%">
                <input class="form-control mr-sm-2 bg-transparent border-0 text-light" name="q" id="searchBar" type="search" placeholder="Search...">
            </form>
            <li class="nav-item dropdown">
                <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    %% current_user.email %%
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                    <a class="dropdown-item" href="%% url_for('logout') %%">Log out</a>
                </div>
            </li>
        </ul>
    </header>
    <div id="app" class="container mt-3 mb-5">
        <div class="row flex-xl-nowrap">
            <main class="col-12">
                <div class="videos-list">
                    <div class="list-group list-group-flush">
                        <div v-for="video, id in videos" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row">
                                <div class="col-md-3">
                                    <img :src="video.thumbnail" class="img-thumbnail">
                                </div>
                                <div class="col-md-9">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">
                                            <a :href="'https://www.youtube.com/watch?v=' + video.id" target="_blank" >
                                                {{ video.title }}
                                            </a>
                                            <span v-show="video.isWatched" class="badge badge-secondary">Watched</span>
                                        </h5>
                                    </div>
                                    <p class="mb-1">
                                        {{ video.description }}
                                    </p>
                                    <small>
                                        {{ video.channelTitle }}
                                        <br/>
                                        <a v-if="video.new_words_stats !== null" href="javascript:" @click="showWordsModal(video)">
                                            New words: {{ video.new_words_stats.new_words_pnt | fixedDigits }}% ({{ video.new_words_stats.new_words.split(', ').length }}/{{ video.subtitle.tokens.split(' ').length }} words)
                                        </a>
                                        <br/>
                                        <a href="javascript:" @click="showVideoModal(video)">
                                            Subtitle
                                        </a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="wordsModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Subtitle</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!--<div class="mb-3">{{ wordsModal.subtitle }}</div>-->
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Common words</th>
                                            <th scope="col">New words</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td v-html="wordsModal.common.join('<br/>')"></td>
                                            <td v-html="wordsModal.new.join('<br/>')"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog" style="max-width: 1000px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Video</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6">
                                            <div v-if="videoModal !== null" class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" :src="videoModal.src" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <table v-if="videoModal !== null" class="table table-sm">
                                                <tbody class="d-block" style="height: 400px; overflow: auto">
                                                    <tr v-for="sentence in videoModal.subtitle.sentences" class="d-block">
                                                        <td>
                                                            <a href="javascript:" @click="playVideo(sentence)" v-html="sentence.text"></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
        $(document).ready(function () {

            new Vue({
                el: '#app',
                data: {
                    videos: [],
                    wordsModal: {
                        common: [],
                        new: []
                    },
                    query: '',
                    videoModal: null
                },
                mounted() {

                    let query = "%% query %%";
                    this.query = query;

                    $('#searchBar').val(query);

                    $.getJSON("%% url_for('search') %%", {q: query}, res => {
                        this.videos = res.videos;
                    })

                },
                methods: {
                    showWordsModal(video) {
                        $('#wordsModal').modal('show');

                        let subtitleWords = video.subtitle.tokens.split(', ').sort();
                        let newWords = video.new_words_stats.new_words.split(', ').sort();

                        this.wordsModal.new = newWords;
                        this.wordsModal.common = subtitleWords.filter(w => !newWords.includes(w))
                    },
                    showVideoModal(video) {
                        video.subtitle.sentences.forEach(s => {
                            s.text = s.text.replace(this.query, `<span class="text-danger">${this.query}</span>`);
                            return s;
                        });

                        this.videoModal = video;

                        this.videoModal.src = `https://www.youtube.com/embed/${this.videoModal.id}`;

                        $('#videoModal').modal('show');
                    },
                    playVideo(sentence) {
                        $('iframe').attr('src', `https://www.youtube.com/embed/${this.videoModal.id}?autoplay=1&start=${parseInt(sentence.start)}`);
                    }
                },
                filters: {
                    fixedDigits: val => val.toFixed(2)
                }
            })

        })
    </script>
</body>
</html>